
.text {
    text-align: justify;
    font-size: 1.5vw;
}
.small_text {
    font-size: 0.9vw;
}
.small_title {
    font-size: 1.2vw;
}

@media (max-width: 990px) {
    .small_text {
        font-size: 1.5vw;
    }
    .small_title {
        font-size: 1.8vw;
    }
}