block variables
  - var title = 'Самые высокие здания и сооружения'
  -
    var dictMenu = {
      'Главная': 'index.html', 
      'Список квартир Владивостока': "table.html"
    }
    
  - var listImages = ['first.jpg', 'second.jpg', 'third.jpg', 'fourth.jpg']
  - var ListCols = ['Название', 'Улица', 'Тип', 'Номер квартиры', 'Кол-во комнат', 'Кол-во гостей', 'm2']
  - 
    var OneApart = {
      'header': 'Aura Apartments',
      'image': 'first.jpg',
      'text': 'Квартира-студия 25 м2 с видом на город в доме бизнес класса. В доме 2 лифта. Светлая новая уютная квартира на 10 этаже с кухней и санузлом. Квартира оборудована всем необходимым для комфортного проживания 1-4 человек. Спальные места: 1 диван-кровать 1 двуспальная кровать Кухонная зона оборудована всем необходимым. Удобная транспортная развязка -автобусы, электрички, аэроэкспресс до аэропорта, автобусная остановка в 3 минутах. - В 10 минутах пешком от пляжа «Моргородок» - До центра 20 минут на автобусе. - До аэропорта 25 минут на аэроэкспрессе. В шаговой доступности находится большой магазин «Реми», детская площадка, стадион, пекарня, аптека, пункт выдачи озон.'
    }
  - 
    var ListLevels = [
      {
        'ru_level': 'Первый уровень:',
        'eng_level': 'firstlevel'
      },
      {
        'ru_level': 'Второй уровень:',
        'eng_level': 'secondlevel'
      },
      {
        'ru_level': 'Третий уровень:',
        'eng_level': 'thirddlevel'
      }
    ]
  -
    var listAparts = [
      {
        'header': 'Квартира с видом на город',
        'image': 'one.jpg', 
        'text': 'Предлагаю вашему вниманию прекрасную двухкомнатную квартиру во Владивостоке, расположенную в 1 минуте от Мариинского театра оперы и балета. В квартире есть все для комфортного проживания 4-х человек. Квартира полностью обустроена, очень теплая и светлая. Вид на город с трёх сторон: восток, юг, запад. В доме находится магазин Квартет вкусов и К&Б. Дом ЖК Театральный находится в 10 минутах езды от самого центра города. Очень развитая инфраструктура вокруг. По запросу предоставляется парковочное место для одного автомобиля в крытом паркинге.'
      },
      {
        'header': 'Апартаменты на 20м этаже с панорамным видом бухту Улисс',
        'image': 'two.jpg', 
        'text': 'Новая квартира с камерной атмосферой в новом доме. Современный дизайнерский ремонт и оснащение. Последний 20й этаж, вид на мост на остров Русский и бухту Улисс с доступом на эксплуатируемую крышу. Удобная транспортная развязка, рядом остановки общественного транспорта, можно легко уехать в любой конец города. В 5 минутах езды по Золотому мосту до центра города и в 10 минутах езды по Русскому мосту до о. Русский. 7 минут до Калины Молл. В пешей доступности продуктовые магазины, аптеки, кафе, рынки итд.'
      },
      {
        'header': 'Мини-студия на Заре',
        'image': 'three.jpg', 
        'text': 'Уютная мини-студия в пяти минутах от остановки Магнитогорская. Удобное расположение - широкая транспортная развязка до любой точки города.'
      },
      {
        'header': 'Новая квартира студия в привлекательном районе',
        'image': 'four.jpg', 
        'text': 'Сдаётся квартира посуточно! Новый дом, новый ремонт. Есть вся необходимая новая, современная качественная мебель'
      },
      {
        'header': 'Просторная светлая студия в самом центре',
        'image': 'five.jpg', 
        'text': 'Дом находится на оживленном перекрестке улицы Адмирала Фокина и Океанского проспекта. Самое удобное расположение для пеших прогулок по  городским достопримечательностям.'
      },
      {
        'header': 'Квартира в центре города с видом на море',
        'image': 'six.jpg', 
        'text': 'Дом расположен в центре Владивостока. В 10 мин. ходьбы крупный транспортный узел: конечная остановка большинства автобусных маршрутов.'
      }
    ]
  - 
    var table = [
      {'name': 'Название','street': 'Улица','type': 'Тип','n_apart': 'Номер квартиры','n_rooms': 'Кол-во комнат','n_guests': 'Кол-во гостей','m2': 'm'},
      {'name': 'Квартира с видом на город','street': 'ул. Некрасовская','type': 'Дом','n_apart': '50','n_rooms': '2','n_guests': '6','m2': '37'},
      {'name': 'Апартаменты с панорамным видом','street': 'ул. 100-летия Владивостока','type': 'Квартира','n_apart': '148','n_rooms': '1','n_guests': '3','m2': '35'},
      {'name': 'Мини-студия на Заре','street': 'ул. Уборевича','type': 'Студия','n_apart': '23','n_rooms': '1','n_guests': '2','m2': '10'},
      {'name': 'Лофт в центре города','street': 'ул. Светланская','type': 'Дом','n_apart': '12','n_rooms': '2','n_guests': '4','m2': '60'},
      {'name': 'Квартира-студия с ремонтом','street': 'ул. Алеутская','type': 'Квартира','n_apart': '33','n_rooms': '1','n_guests': '1','m2': '25'},
      {'name': 'Двушка в спальном районе','street': 'ул. Русская','type': 'Квартира','n_apart': '4','n_rooms': '2','n_guests': '9','m2': '54'},
      {'name': 'Апартаменты с кухней-гостиной','street': 'ул. Набережная','type': 'Дом','n_apart': '1','n_rooms': '1','n_guests': '7','m2': '41'},
      {'name': 'Семейная квартира у парка','street': 'ул. Фонтанная','type': 'Квартира','n_apart': '18','n_rooms': '3','n_guests': '2','m2': '68'},
      {'name': 'Студия для молодых специалистов','street': 'ул. Лазо','type': 'Студия','n_apart': '77','n_rooms': '1','n_guests': '5','m2': '22'},
      {'name': 'Видовая квартира на набережной','street': 'ул. Крыгина','type': 'Квартира','n_apart': '9','n_rooms': '2','n_guests': '11','m2': '58'},
      {'name': 'Малосемейка с мебелью','street': 'Океанский проспект','type': 'Квартира','n_apart': '56','n_rooms': '1','n_guests': '6','m2': '30'},
      {'name': 'Просторная трешка','street': 'ул. Гоголя','type': 'Квартира','n_apart': '21','n_rooms': '3','n_guests': '3','m2': '80'},
      {'name': 'Студия с готовым ремонтом','street': 'ул. Пушкинская','type': 'Студия','n_apart': '44','n_rooms': '1','n_guests': '2','m2': '26'},
      {'name': 'Квартира с камином и террасой','street': 'ул. Садовая','type': 'Квартира','n_apart': '102','n_rooms': '2','n_guests': '1','m2': '65'},
      {'name': 'Дом у метро','street': 'ул. Борисенко','type': 'Дом','n_apart': '65','n_rooms': '2','n_guests': '7','m2': '48'},
      {'name': 'Апартаменты под ключ','street': 'ул. Махалина','type': 'Квартира','n_apart': '11','n_rooms': '1','n_guests': '10','m2': '33'},
      {'name': 'Дом за городом','street': 'ул. Калинина','type': 'Дом','n_apart': '27','n_rooms': '2','n_guests': '4','m2': '52'},
      {'name': 'Студия в отремонтированном доме','street': 'ул. Нейбута','type': 'Студия','n_apart': '3','n_rooms': '1','n_guests': '8','m2': '29'},
      {'name': 'Вид на озеро','street': 'ул. Озерная','type': 'Дом','n_apart': '5','n_rooms': '2','n_guests': '5','m2': '55'},
      {'name': 'Квартира для студентов','street': 'ул. Студенческая','type': 'Квартира','n_apart': '8','n_rooms': '1','n_guests': '1','m2': '18'},
      {'name': 'Пентхаус с панорамными окнами','street': 'ул. Адмирала Фокина','type': 'Дом','n_apart': '5','n_rooms': '3','n_guests': '15','m2': '120'},
      {'name': 'Уютное гнездышко','street': 'ул. Пологая','type': 'Квартира','n_apart': '7','n_rooms': '1','n_guests': '3','m2': '31'},
      {'name': 'Свободная планировка','street': 'ул. Хабаровская','type': 'Студия','n_apart': '22','n_rooms': '2','n_guests': '6','m2': '45'},
      {'name': 'Квартира с кабинетом','street': 'ул. Прапорщика Комарова','type': 'Квартира','n_apart': '22','n_rooms': '2','n_guests': '2','m2': '49'},
      {'name': 'Студия с видом на сад','street': 'Партизанский проспект','type': 'Студия','n_apart': '6','n_rooms': '1','n_guests': '4','m2': '24'},
      {'name': 'Двушка с раздельными комнатами','street': 'ул. Дальзаводская','type': 'Квартира','n_apart': '41','n_rooms': '2','n_guests': '8','m2': '51'},
      {'name': 'Апартаменты с гардеробной','street': 'ул. Мордовцева','type': 'Апартаменты','n_apart': '55','n_rooms': '1','n_guests': '9','m2': '38'},
      {'name': 'Квартира в историческом центре','street': 'ул. Пестеля','type': 'Квартира','n_apart': '2','n_rooms': '2','n_guests': '3','m2': '47'},
      {'name': 'Современная студия','street': 'Проспект Красного Знамени','type': 'Студия','n_apart': '90','n_rooms': '1','n_guests': '11','m2': '27'},
      {'name': 'Семейное гнездо','street': 'ул. Сахалинская','type': 'Апартаменты','n_apart': '17','n_rooms': '4','n_guests': '1','m2': '95'},
      {'name': 'Апартаменты у моря','street': 'ул. Вокзальная','type': 'Апартаменты','n_apart': '29','n_rooms': '1','n_guests': '2','m2': '20'},
      {'name': 'Квартира с зимним садом','street': 'ул. Стрелочная','type': 'Квартира','n_apart': '73','n_rooms': '2','n_guests': '12','m2': '70'},
      {'name': 'Студия для командированных','street': 'ул. Фадеева','type': 'Студия','n_apart': '36','n_rooms': '1','n_guests': '7','m2': '23'},
      {'name': 'Двушка с евроремонтом','street': 'ул. Острякова','type': 'Квартира','n_apart': '50','n_rooms': '2','n_guests': '5','m2': '53'},
      {'name': 'Вид на горы','street': 'ул. Патрокл','type': 'Дом','n_apart': '81','n_rooms': '1','n_guests': '4','m2': '34'},
      {'name': 'Классическая трешка','street': 'ул. Ленинская','type': 'Квартира','n_apart': '25','n_rooms': '3','n_guests': '6','m2': '78'},
      {'name': 'Апартаменты с техникой','street': 'ул. Батарейная','type': 'Апартаменты','n_apart': '48','n_rooms': '1','n_guests': '3','m2': '36'},
      {'name': 'Квартира в тихом дворе','street': 'ул. Тихая','type': 'Квартира','n_apart': '11','n_rooms': '2','n_guests': '2','m2': '43'},
      {'name': 'Светлая студия','street': 'ул. Баляева','type': 'Студия','n_apart': '62','n_rooms': '1','n_guests': '5','m2': '25'},
      {'name': 'Двушка для семьи с детьми','street': 'ул. Котельникова','type': 'Квартира','n_apart': '39','n_rooms': '2','n_guests': '1','m2': '56'},
      {'name': 'Пентхаус с выходом на крышу','street': 'ул. Высокая','type': 'Дом','n_apart': '1','n_rooms': '2','n_guests': '16','m2': '90'},
      {'name': 'Квартира с библиотекой','street': 'ул. Пограничная','type': 'Квартира','n_apart': '13','n_rooms': '1','n_guests': '9','m2': '40'},
      {'name': 'Студия в апарт-комплексе','street': 'ул. Каплунова','type': 'Студия','n_apart': '3','n_rooms': '1','n_guests': '12','m2': '32'},
      {'name': 'Вид на реку и лес','street': 'ул. Береговая','type': 'Дом','n_apart': '7','n_rooms': '2','n_guests': '4','m2': '60'},
      {'name': 'Квартира с балконом-лоджией','street': 'ул. Давыдова','type': 'Квартира','n_apart': '71','n_rooms': '1','n_guests': '8','m2': '37'},
      {'name': 'Уютная однушка','street': 'ул. Шевченко','type': 'Студия','n_apart': '24','n_rooms': '1','n_guests': '6','m2': '28'},
      {'name': 'Двушка в кирпичном доме','street': 'ул. Красного Знамени','type': 'Квартира','n_apart': '33','n_rooms': '2','n_guests': '10','m2': '50'},
      {'name': 'Апартаменты с консьержем','street': 'ул. Котовского','type': 'Квартира','n_apart': '4','n_rooms': '2','n_guests': '7','m2': '58'},
      {'name': 'Студия для творческих личностей','street': 'ул. Иртышская','type': 'Студия','n_apart': '9','n_rooms': '1','n_guests': '2','m2': '26'}
    ]
